@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.navBar {
    padding: 0px;
    background: rgb(22, 25, 130);
    color: white;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    position: fixed;
}

.NCC-Logo img {
    margin: 16px 0px 4px 16px;
    height: 90px;
    transition: all 0.5s ease;
}

.NCC-Logo .ncc_shrink {
    margin: 6px 0px 6px 40px;
    height: 70px;

}

.IITR-Logo img {
    margin: 16px 0px 0px 0px;
    height: 90px;
    transition: all 0.5s ease;
}

.IITR-Logo .iitr_shrink {
    margin: 6px 30px 6px 0px;
    height: 65px;

}

.navbar_shrink {
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    justify-items: center;
}

.navbar_shrink .navItem {
    display: none;
}

nav {
    transition: all 0.5s ease;
}

.navbar_shrink nav {
    width: 80%;
}

.collapsed {
    transform: translateX(0) !important;
}

.box {
    text-align: center;
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: 3;
}

.heading-ncc-hn,
.heading-ncc-en {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
}

.heading-ncc-hn {
    font-size: 35px;
}

.heading-ncc-en {
    font-size: 30px;

}

.navLinks {
    background: rgb(22, 25, 130);
    transition: 0.6s;
}

.navLinks li a {
    font-family: 'Ubuntu', sans-serif;
    color: white !important;
    font-size: 20px;
    margin-bottom: 2px;
    border-bottom: 2.5px;
    transition: 0.3s;
}

.navLinks li a:hover {
    border-bottom: white 2.5px solid;
    padding-bottom: 1.5px;
}

.navLinks li a.active {
    border-bottom: white 2.5px solid;
    padding-bottom: 1.5px;
}

.hide {
    display: none !important;
}

#ncc-heading {
    transition: all 0.5s ease;

}

#nav-mb {
    display: none;
}

#title_footer {
    font-size: 1.2rem;
    border-bottom: 2px solid;
    padding-right: 1.5em;
}

span#title_footer {
    width: fit-content;
}

div#title_footer>div {
    font-weight: 600;
}

.element {
    max-width: fit-content;
}

a#content {
    text-decoration: none;
    color: #fffdfd;
}

.address {
    width: 12em;
}

.footerResponsive1 {
    display: none !important;
}

a#logo1:hover>img {
    border-radius: 50%;
    background: rgb(0, 89, 255);
}

a#logo2:hover>img {
    border-radius: 50%;
    background: red;
}

a#logo3:hover>img {
    background: radial-gradient(circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%);
    border-radius: 50%;
}

a#logo4:hover>img {
    background-image: conic-gradient(#4285f4 0deg, #34a852 150deg, #fabb04 225deg, #ea4335 280deg, #1a73e8 350deg);
    border-radius: 50%;
}

.footer-copyright {
    margin-bottom: 0px;
}

.fitContent {
    width: fit-content;
}

#footer_heading>h2 {
    font-weight: 700 !important;
    font-size: 1.8em;
    margin-bottom: 0.2rem;
}

#footer_heading>h4 {
    font-weight: 600 !important;
    font-size: 1.5em;
}

.navLinks {
    padding: 0;
}

.NCC-Logo,
.IITR-Logo {
    /* padding: 0; */
    width: auto;
    display: inline-block;
}

.NCC-Logo {
    padding-right: 20px;
}

.IITR-Logo {
    position: absolute;
    right: 12px;
    padding: 0;
}

.NCC-Logo a,
.IITR-Logo a {
    display: inline-block;
}

.toggle-icon {
    position: absolute;
    right: 0;
    width: auto;
}



.navBar,#navbar1{
    display: none;
}

/* Mobile Navbar style */

#navbar1 {
    background: rgb(22, 25, 130);
    width: 100%;
    height: 97px;
    height: 97px;
    padding: 1vh;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0%;
    z-index: 1030;
}

#images * {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: auto;
    padding: 0.5vh;
}
#ham-icon{
    height: 5vh;
    filter: invert();
    margin-right: 1.5vh;
}
#Menu{
    background: rgb(22, 25, 130);
    width: 50%;
    position: fixed;
    top: 10vh;
    z-index: 1000;
    right: 0;
    height:auto;
    padding: 3vh;
    padding-top: 0;
    animation: slideIn 0.5s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 2vh;
}
#Menu div{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-bottom: 4vh;
}
#Menu div img{
    width: 2vh;
    filter: invert();
}
#Menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#Menu ul li{
    padding: 1vh;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Menu ul li a{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: white !important;
}

#Menu ul li a:hover{
    font-weight: bolder;
    text-decoration: underline;
}


@keyframes slideIn {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

/* -----NAVBAR Responsiveness------ */

@media only screen and (min-width: 760px){
    .navBar{
        display: flex !important;
    }
    .navbar-nav {
        flex-direction: row;
    }

    .NCC-Logo {
        padding-right: 20px;
    }

    .IITR-Logo {
        padding: 0;
    }

    .NCC-Logo img {
        margin: 16px 0px 4px 16px;
        height: 90px;
    }

    .IITR-Logo img {
        margin: 16px 0px 0px -5px;
        height: 90px;
    }

    .hamburger-box {
        height: 40px;
    }

}
@media only screen and (max-width: 760px) {
    .navBar {
        display: none !important;
    }

    #navbar1 {
        display: flex !important;
    }
}

@media only screen and (max-width: 470px) {
    .NCC-Logo img {
        margin: 8px 0px 8px 8px;
        height: 60px;
    }

    .NCC-Logo .ncc_shrink {
        margin: 8px 0px 8px 8px;
        height: 60px;
    }

    .IITR-Logo img {
        margin: 8px 0px 0px 0px;
        height: 55px;
    }

    .IITR-Logo .iitr_shrink {
        margin: 8px 0px 0px 0px;
        height: 55px;
    }

    .hamburger-box {
        height: 40px;
        margin-left: 0px;
    }

    #navbar1 {
        height:76px;
    }

    #Menu {
        top: 76px;
    }
}

@media (max-width: 760px) {
    .footerResponsive {
        display: none !important;
    }

    .footerResponsive1 {
        display: flex !important;
    }

    .element {
        padding: 1rem;
        max-width: 100%;
    }

    #navbar1 {
        height: 97px;
    }

    #Menu {
        top: 97px;
    }
}

@media (max-width: 370px) {
    #footer_heading>h2 {
        font-size: 1.4em;
    }

    #footer_heading {
        padding: 0.5rem !important;
    }
}

